body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: width 500px;
  margin: auto;
  padding: 0 1rem;
}

h1 {
  margin-top: 1rem;
  text-align: center;
}

.input {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  width: 300px;
  border-bottom: 1px solid black;
  padding: 0.3rem;
}

.put{
  background-color: black;
  color:antiquewhite;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.icons {
  top: 50%;
  right: 20px;
  display: flex;
  gap: 0.5rem;
  position: absolute;
  transform: translateY(-50%);
}

.icon {
  cursor: pointer;
  font-size: 15px;
}

.todoitems {
  background-color: rgb(216, 172, 172);
  color:black;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  position: relative;
  margin-top: 1rem;
}
